{% extends "base.html" %}
{% block title %}{{ page.title }} · {{ config.title }}{% endblock title %}
{% block description %}{{ page.description }}{% endblock description %}
{% block head %}<link rel="stylesheet" href="/css/legacy/main.css">{% endblock head %}
{% block hero %}{% set hero_slim = true %}{% set hero_title = page.title %}{% set hero_sub = page.description %}{% include "hero.html" %}{% endblock hero %}
{% block content %}
<article class="prose doc">
{{ page.content | safe }}
</article>
<div class="island" id="badges-island">
{% include "islands/bar.html" %}
{% include "islands/badges.html" %}
</div>
<script src="https://cdn.jsdelivr.net/npm/ethers@5.7.2/dist/ethers.umd.min.js"></script>
<script type="module" src="/js/islands/badges.js"></script>
{% endblock content %}
